IGNORE_PAPER_AFD-FMM/ParametrosECG.R
IGNORE_PAPER_AFD-FMM/ICARE_0377.csv
IGNORE_PAPER_AFD-FMM/ICARE_0357.csv
IGNORE_PAPER_AFD-FMM/experimentosAlgoritmoAFD.py
IGNORE_PAPER_AFD-FMM/exampleData.csv
IGNORE_PAPER_AFD-FMM/example_chromatography.csv
IGNORE_PAPER_AFD-FMM/Example2Paper.py
IGNORE_PAPER_AFD-FMM/Example2_AFD.csv
IGNORE_PAPER_AFD-FMM/Example2.csv
IGNORE_PAPER_AFD-FMM/Example1Paper.py
IGNORE_PAPER_AFD-FMM/Example1_AFD.csv
IGNORE_PAPER_AFD-FMM/Example1.csv
IGNORE_PAPER_AFD-FMM/EjemploPost.csv
IGNORE_PAPER_AFD-FMM/ejemploCristina.csv
IGNORE_PAPER_AFD-FMM/datosGOLEM.csv
IGNORE_PAPER_AFD-FMM/comps_ch13.csv
IGNORE_PAPER_AFD-FMM/Chroma_example.csv
IGNORE_PAPER_AFD-FMM/02_TEST_INFERENCES.py
